Flask==2.0.1
gunicorn==20.1.0
torch==1.10.0+cpu  # PyTorch for vehicle detection model
Pillow==8.2.0      # Python Imaging Library for image handling
opencv-python==4.5.3.56  # OpenCV for video processing
